# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code! 

Do not remove comments that start with: "# @@@" (Those are question tags)

In [21]:
# @@@ Question 1: Here is a python list, initialize another list called b with the same values as a.
a = [1, 2, 3, 4, 5, 6]
b = a.copy()

In [22]:
# @@@ Question 2: get a list containing the last 3 elements of b 
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
last_three = b[-3:]

In [23]:
# @@@ Question 3: Create a list of numbers from 1 to 20
numbers = list(range(1,21))

In [24]:
# @@@ Question 4: now get a list with only the even numbers between 1 and 100
numbers = list(range(2, 101, 2))

In [25]:
# @@@ Question 5: write a function that takes two numbers as arguments
# and returns the first number divided by the second
def func(a, b):
    return a/b

In [26]:
# @@@ Queston 6: fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number
for num in range(1,31):
    if num % 3 == 0 and num % 5 != 0:
        print("fizz")
    elif  num % 5 == 0 and num % 3 != 0:
        print ("buzz")
    elif num % 5 == 0 and num % 3 ==0:
        print("fizzbuzz")
    else:
        print(num)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [27]:
# @@@ Question 7: create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10
menu = {
    "Gyro": 9,
    "Burger": 9,
    "Greek Salad": 8,
    "Philly Steak": 10
}

In [28]:
# @@@ Question 8: load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
!pip install pandas
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")

Requirement already satisfied: pandas in /Users/evelyncheng/anaconda3/lib/python3.11/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/evelyncheng/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/evelyncheng/anaconda3/lib/python3.11/site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/evelyncheng/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/evelyncheng/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

ModuleNotFoundError: No module named 'pandas'

In [16]:
# @@@ Question 9: select all rows with more than and including 400 calories
df_filtered = df[df["calories"] >= 400]

NameError: name 'df' is not defined

In [18]:
# @@@ Question 10: select all rows whose vitamin c content is higher than the iron content
df_filtered = df[df["vitamin_c"] > df["iron"]]

NameError: name 'df' is not defined

In [17]:
# @@@ Question 11: create a new column containing the caffeine per calories of each drink
df["caffeine_per_calories"] = df["caffeine"] / df["calories"]

NameError: name 'df' is not defined

In [ ]:
# @@@ Question 12: what is the average calorie across all items?
average_calories = df["calories"].mean()

In [19]:
# @@@ Question 13: how many different categories of beverages are there?
num_categories = df["beverage_category"].nunique()

NameError: name 'df' is not defined

In [20]:
# @@@ Question 14: what is the average # calories for each beverage category?
average_calories_by_category = df.groupby("beverage_category")["calories"].mean()

NameError: name 'df' is not defined